// my custom stylesheets
@import "./common/fonts";
@import "./common/variable";

// Include circle [Third party]
@import "./circle";

// Include bootstrap [Third party]
@import "~bootstrap/scss/bootstrap";


* {
  font-size: 16px;
  font-family: Raleway ExtraBold;
  scroll-behavior: smooth;
 }


//------------------------------------------------------------ Mics ---------------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------------------------------

 .section-seprate {
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;

  .btn-diamond {
    width: 0;
    height: 0;
    border: 35px solid transparent;
    position: relative;
    top: -35px;

    &.blue {
      border-bottom-color: $cyan;

      &:after {
        border-top-color: $cyan;
      }
  
    }

    &.black {
      border-bottom-color: $gray-dark;

      &:after {
        border-top-color: $gray-dark;
      }
  
    }

    img {
      position: absolute;
      left: -10px;
      top: 25px;
      z-index: 5;

      &.black {
        left: -6px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      left: -35px;
      top: 35px;
      width: 0;
      height: 0;
      border: 35px solid transparent;
    }

    .btn-text {
      text-align: center;
      color: $white-dark;
      text-align: center;
      color: $white-dark;
      position: absolute;
      top: 25px;
      left: -2px;
    }

  }

}

//------------------------------------------------------------ Navigation ---------------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------------------------------

.sentinal {
  // DOM element for triggering the intersection observer event
  // you can use 'height' to determine when the event is triggered
  height: 3rem;
  position: absolute;
}

.sticky{
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 9999;
}

.nav-bar {
  background-color:#f9f9f9;
  border-bottom: 3px solid #dedede80;
  z-index: 9999;

  .nav-logo {
    display:flex;
    justify-content: start;

    @media screen and (max-width: $phone) {
      padding-top: 10px;
      display:block;
    }

    @media screen and (max-width: $web) {
      padding-top:15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .airdrop-wrapper {
      display:flex;
      justify-content: center;
      align-items: center;

      .airdrop {
        background-color: #231f20;
        border-radius: 50px 50px 0px 50px;
        width: 50px;
        height: 50px;

        p {
          padding: 20px 12px;
          color: $white;
        }

      }

    }

  }

  .nav-opt {
    display:flex;
    justify-content: flex-end;

    .mobile-nav-bar {

      @media screen and (max-width: $phone) {
        justify-content: center;
        align-items: center;
      }

      @media screen and (max-width: $tablet) {
        justify-content: center;
        align-items: center;
      }
      

    }

    .nav-item {
      padding:30px 25px;
      cursor: pointer;


      @media screen and (max-width: $phone) {
        padding: 10px 10px;
      }
  
      @media screen and (max-width: $tablet) {
        padding: 5px 10px;
      }
  
      a {
        color: $gray-smooth-2;
        text-decoration: none;
        transition:0.5s;

        &:hover {
          background-color: $cyan;
          padding: 10px 20px;
          border-radius: 5px;
          color: $white-smooth-2;
        }
  
      }

      .search-wrapper{
  
        svg {
          fill:$cyan;
          width:30px;
          height:30px;
        }
    
      }

    }

  }

}


//------------------------------------------------------------    Footer  ---------------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------------------------------

.footer {

  .section-partner {
    background-color: $gray-dark;
    padding: 25px 0px;
  
    .scroll-menu-arrow {
      padding: 20px;
      cursor: pointer;

      .left-btn-wrapper {
        background-color: $white;
        padding: 3px 11px;
        border-radius: 4px;
        height: 30px;
        width: 30px;
        transition: 0.2s;

        img {
          background-size: cover;
        }
      
        &:hover {
          transform: scale(1.1);

        }

      }

      .right-btn-wrapper {
        background-color: $cyan;
        padding: 3px 11px;
        border-radius: 4px;
        height: 30px;
        width: 30px;
        transition: 0.2s;
        
        img {
          background-size: cover;
        }
      
        &:hover {
          transform: scale(1.1);

        }

      }

    }

    .menu-wrapper {
      padding: 25px;

      .menu-wrapper--inner {

        .menu-item-wrapper  {
          flex: 1;
          margin-left: 20px;
          background-color: $gray-heavy;
  
          .menu-item {
            padding: 20px;
            margin: 5px 10px;
            user-select: none;
            cursor: pointer;
            border: none;
  
          }
  
        }
  
      }


    }

  }

  .section-footer {
    background-color: $gray-heavy;
    padding: 50px 20px;

    .footer-text {
      color: $white-smooth;
      text-align: center;

      a {
        font-family: Myriad Pro;
        font-size:0.9rem;
        color: inherit;
        text-decoration: none;
      }
    }

  }
  
}

//------------------------------------------------------------    Feature Page  ---------------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------------------------------------

.features-section {
  background-color:$white;
  padding: 50px 20px;

  .features-listing {
    justify-content: center;
  }


}

//------------------------------------------------------------    Card Page  ---------------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------------------------------------

.features-card {
  display:flex;
  flex-direction:row;
  padding: 10px;
  // opacity: 1;

  .content-left{
    padding:15px;

  }

  .content-right {
    display:flex;
    flex-direction: column;
    padding: 15px 0px;

    .cont-header-line {
      margin: 0;
      height: 22px;
      overflow: hidden;

      .cont-header {
        text-transform: uppercase;

      }

    }

    .cont-sub-header-line {
      margin: 0;
      height: 22px;
      overflow: hidden;

      .cont-sub-header {
        font-family: Raleway Medium;
        font-size: 0.9rem;
        color: $gray;
        padding-bottom:15px;
      }

    }

    .cont-desc-line {
      margin: 0;
      height: 22px;
      overflow: hidden;

      .cont-desc {
        font-family: Raleway Medium;
        font-size: 0.9rem;
        color:$gray-smooth;
  
      }

    }

  }


}

//------------------------------------------------------------    Skill Page  ---------------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------------------------------------

.skill-level-section {
  background-color: $gray-dark;
  padding: 50px 20px;

  .skill-header { 
    text-align: center;
    color: $white-smooth-2;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding-top: 20px;
    line-height: 1.7;
    opacity: 0;

    @media screen and (max-width: $phone) {
      font-size: 1.2rem;
    }

    .icon-left {
      padding:20px;

      @media screen and (max-width: $phone) {
        padding: 20px 5px;
      }
  
    }

    .icon-right {
      padding:20px;

      @media screen and (max-width: $phone) {
        padding: 20px 5px;
      }
  
    }

    span{
      color: $cyan;
      font-size:inherit;
    }

  }

  .skill-sub-header {
    color:$gray-smooth-2;
    font-family: Raleway Medium;
    text-align: center;
    padding:20px 20px 40px 20px;
    opacity: 0;
  }

  .progress-listing {
    justify-content: center;
    opacity: 0;
  
    .custom-circle-section {
      display:flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      text-align:center;
      
      @media screen and (max-width: $phone) {
        padding-bottom: 25px;
      }

      @media screen and (max-width: $tablet) {
        padding-bottom: 20px;
      }

      .custom-bar {
        justify-content: center;
        align-items: center;
    
        .c100 {
          margin:0px;
    
          &:after {
            background-color: $gray-dark;
          }
          .slice {
      
            .bar {
        
            }
        
            .fill {
              // transition: .5s;
              font-size:inherit;
            }
      
          }
      
        }
    
      }
    
      .circle-header {
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
        color: #8a8a8a;
        padding: 20px 0px;
        text-transform: uppercase;
      }
      
    }

  }
  
}

//------------------------------------------------------------    Skill Page  ---------------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------------------------------------

.offer-section {
  background-color: $white;
  padding: 50px 20px;

  .header { 
    text-align: center;
    color: $gray-dark;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding-top: 20px;
    line-height: 1.1;
    display:flex;

  
    &:before {
      background: linear-gradient(to right, transparent, #818078, #818078);
      content: '\a0';
      flex-grow: 1;
      height: 1px;
      position: relative;
      top: 0.5em;
    }
    
    &:after {
      background: linear-gradient(to right, #818078, #818078, transparent);
      content: '\a0';
      flex-grow: 1;
      height: 1px;
      position: relative;
      top: 0.5em;
    }

    @media screen and (max-width: $phone) {
      font-size: 1.2rem;
    }

    .icon-left {
      padding:0px 20px;

      @media screen and (max-width: $phone) {
        padding: 0px 5px;
      }
  
    }

    .icon-right {
      padding: 0px 20px;

      @media screen and (max-width: $phone) {
        padding: 0px 5px;
      }
  
    }

    span {
      color: $cyan;
      font-size:inherit;
    }

  }

  .sub-header {
    color:$gray-smooth-2;
    font-family: Raleway Medium;
    text-align: center;
    padding:20px 20px 40px 20px;
  }


  .offer-listing {

    .offer-opt {
      display:flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      padding-bottom: 45px;
      padding-top:15px;
      transition: 0.5s;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        background-color: $cyan;
        transition: 0.5s;
    
      }
  
      &:hover {
        color: rgba(0, 0, 0, 0.3);
        box-shadow: 0.1em 0.1em 3em rgba(200, 200, 200, 0.5);
      }
  
      .offer-icon {
        border-radius: 50%;
        height:100px;
        width:100px;
        position: relative;
    
        &.white {
          background-color: $gray-dark;
        }

        &.blue {
          background-color: $cyan;
        }
    
        img {
          position: absolute;
          margin: 32%;
        }
  
      }
      
      .of-header {
        font-size: 0.9rem;
        color: $gray-smooth-2;
        padding: 25px 15px 5px 16px;
        text-transform: uppercase;
        text-align: center;
      }

      .of-sub-header {
        font-size: 0.9rem;
        font-family: 'Raleway Medium';
        color: $gray-smooth;
        padding: 15px;
        text-align: center;
      }

      .btn-section {

        .btn-readmore {
          padding: 5px 15px;
          border-radius: 4px;
          transition:0.5s;
          cursor: pointer;

          &:hover {
            transform:scale(1.1);
          }

          &.white {
            background-color: $white;
            border: solid 1px $gray-smooth;
          }
          &.blue {
            background-color: $cyan;
            border: solid 1px $cyan;
            color:$white;
          }

          span {
            font-size: 0.7rem;
            text-transform: uppercase;
          }
        }

      }

    }
    
  }

}

//------------------------------------------------------------    Member Page  ---------------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------------------------------------

.members-section {
  background-color:$gray-dark;
  padding:50px 20px;

  .members-listing {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .member-card {
      margin-top: 25px;

      &:hover .overlay-info {
        transform: translate(0%, 0%) rotateY(0deg);
        opacity: 1;
      }

      &:hover .card-body button {
        background-color: $gray-dark;
        border-color: $gray-dark;
      }

      .card-img-top {
        height: 250px;
        transition:.5s;
  
        @media screen and (max-width: $phone) {
          height: 200px;
        }

        @media screen and (max-width: $tablet) {
          height: 200px;
        }

      }

      .overlay-info {
        width: 100%;
        height: 250px;
        padding: 5% 8%;
        position: absolute;
        content: "";
        transform: translate(0%, 0%) rotateY(90deg);
        transform-origin: 50%;
        background: rgba(0, 169, 157, 0.9);
        opacity: 0;
        transition: all 0.3s ease-in;
        
        img {
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          margin-top: auto;
          margin-bottom: auto;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }

      .card-body {
        height: 50%;
        background-color: $gray-dark;
        padding: 0px;
        position: relative;
        
        button {
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          margin-top: -20px;
          background-color: $cyan;
          transition: .5s;

          &.mb-name {
            text-transform: uppercase;
            color: $white-smooth-2;
            font-size: 0.85rem;
    
          }

        }

        .card-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 20px 10px;
          font-family: 'Relaway Medium';

          div {
            padding:5px;
          }

          .mb-pos {
            text-transform: capitalize;
            color:$gray-smooth-2;
            font-size:0.9em;
            position:relative;

            .seperate-line {
              width: 90%;
              height: 1px;
              position: absolute;
              margin-left: auto;
              margin-right: auto;
              left: 0;
              right: 0;
              margin-top: 30px;
              background-color: #ebebeb;
            }
      
          }
          
          .mb-phone {
            color:$gray;
            padding-top: 10px;
            font-size: 0.9em;
          }
    
          .mb-email {
            color:$gray;
            font-size: 0.9em;
          }
        
        }

      }

    }

  }

  .view-btn {
    padding:10px 35px;



    @media screen and
    (min-device-width: $iphoneMinWidth)and 
    (max-device-width:$iphoneMaxWidth) and
    (orientation : portrait) {
      padding: 10px 50px;
    }

    @media screen and
    (min-device-width: $iphoneMinWidth)and 
    (max-device-width:$iphoneMaxWidth) and
    (orientation : landscape) {
      padding: 10px 50px;
    }

    @media screen and
    (min-device-width: $ipadMinWidth)and 
    (max-device-width:$ipadMaxWidth) and
    (orientation : portrait) {
      padding: 10px 90px;
    }

    @media screen and
    (min-device-width: $ipadMinWidth)and 
    (max-device-width:$ipadMaxWidth) and
    (orientation : landscape) {
      padding: 10px 30px;
    }
    

    .btn-section {
      background-color: $cyan;
      color:white;
      padding:10px;
      text-align: center;
      text-transform:uppercase;
      border-radius:4px;
      width:100%;
      cursor: pointer;
      transition:0.2s;
  
      &:hover {
        transform:scale(1.05);

      }
    }

  }


}

//------------------------------------------------------------    Comments Page  ---------------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------------------------------------

.section-comment {
  background-color: $cyan;
  padding-top:70px;

  .section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .user-name{
      font-family: Raleway Medium;
      font-weight: 600;
      font-size: 0.8rem;
      background-color: $white-smooth-2;
      color: $cyan;
      border-radius: 4px;
      padding: 15px 20px;
      text-transform: uppercase;

      span {
        font-family: Raleway Medium;
        font-size: 0.85rem;
        font-weight: 500;
        font-style: italic;
        color: $gray;
        text-transform: capitalize;
      }

    }

    .user-details{
      font-family: Raleway Medium;
      font-size: 1.2rem;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.7;
      letter-spacing: normal;
      text-align: center;
      color: $white-smooth-2;
      padding: 20px 35px;
      opacity: 1;
  
      span {
        font-size:2rem;
        
      }

    }

    .btn-section {
      display: flex;
      flex-direction: row;
      padding-bottom: 50px;

      .left-btn {
        padding: 0px 5px;
        cursor: pointer;

        .left-btn-wrapper {
          background-color: $white;
          padding: 3px 11px;
          border-radius: 4px;
          height: 30px;
          width: 30px;
          transition: 0.2s;

          img {
            background-size: cover;
          }
          
          &:hover {
            transform: scale(1.1);

          }
        }

      }

      .right-btn {
        padding: 0px 5px;
        cursor: pointer;

        .right-btn-wrapper {
          background-color: $gray-dark;
          padding: 3px 11px;
          border-radius: 4px;
          height: 30px;
          width: 30px;
          transition: 0.2s;
    
          img {
            background-size: cover;
          }

          &:hover {
            transform: scale(1.1);

          }

        }

      }
    }

  }

}

//------------------------------------------------------------    Contact Page  ---------------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------------------------------------

.contact-us-section {
  padding: 50px 20px;

  .contact-us-form {
    padding:35px;

    .ctt-header {
      font-size: 3rem;
      color: #495057;
    }

    .custom-message-form {
      border: solid 1px $white-smooth-2;
      padding: 30px;
      border-radius: 4px;

      .input-fields-wrapper {

      }
  
      .msg-btn-wrapper {
        // padding: 15px;
  
        button {
          background-color: $cyan;
          border-color: $cyan;
          text-transform: uppercase;
          padding: 10px 50px;
          font-size: 0.85rem;
          width: 100%;
        }
  
      }

    }

    
  }


}

//------------------------------------------------------------    Landing Page  ---------------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------------------------------------

.hidden-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;

  &.one {
    width: 4px;
    background-image: linear-gradient(to right bottom, #0d1218, #091316, #0a1313, #0d1310, #11120e);
    
  }

  &.two {
    width: 0;
    background: url(../images/landing.png) no-repeat;
    background-size: cover;

    @media screen and (max-width: $phone) {
      background: url(../images/landing-mobile.png) no-repeat;
    }
  }


}

.revealer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 10px;
  width: 10px;
  background-color:white;
  border-radius: 5000px;
  z-index: 200;
  opacity:0;
}

.landing-page {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right top, #333333, #343434, #353535, #363636, #373737, #404040, #494949, #525252, #676767, #7d7d7d, #939393, #aaaaaa);


  .main-container {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;

    .pulse-loader-wrapper {
      position: fixed;
      top: 40%;
      left: 45%;
    
      @media screen and (max-width: $phone) {
        position: absolute;
        top: 30%;
        left: 28%;
      }

      // @media screen and (max-width: $tablet) {
      //   position: absolute;
      //   top: 30%;
      //   left: 70%;
      // }
      
      .pluse-loader {
        background-color: #3e3e3e;
        border-radius:50%;
        width: 160px;
        height: 160px;
      }
    }

    .airdrop-wrapper {
      display: inline-block;
      position: absolute;
      top: 0;
      padding: 50px 100px;
    
      @media screen and (max-width: $phone) {
        padding: 50px 20px;
      }

      @media screen and (max-width: $tablet) {
        padding: 50px 50px;
      }

      .airdrop {
        background-color: #231f20;
        border-radius: 50px 50px 0px 50px;
        width: 50px;
        height: 50px;
    
        p {
          padding: 20px 12px;
          color: $white;
        }
    
      }
  
    }

    .text-wrapper {
      display: inline-block;
      position: absolute;
      bottom: 0;
      padding: 50px 100px;

      @media screen and (max-width: $phone) {
        padding: 0px 50px;
        bottom:0%;
        color: white;
      }

      @media screen and (max-width: $tablet) {
        padding: 50px 50px;
        bottom: 5%;
      }

      .large {
        font-size: 4.5rem;

        @media screen and (max-width: $phone) {
          font-size: 3.5rem;
        }
  
      }
    }

  }

}




/* ----------------------------------------------
 * Generated by Animista on 2020-4-13 19:23:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 .fade-in{-webkit-animation:fade-in 2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.5s cubic-bezier(.39,.575,.565,1.000) both}
 .ping{-webkit-animation:ping 1.5s ease-in-out infinite both;animation:ping 1.5s ease-in-out infinite both}

 
@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}
@-webkit-keyframes ping{0%{-webkit-transform:scale(.2);transform:scale(.2);opacity:.8}80%{-webkit-transform:scale(1.2);transform:scale(1.2);opacity:0}100%{-webkit-transform:scale(2.2);transform:scale(2.2);opacity:0}}@keyframes ping{0%{-webkit-transform:scale(.2);transform:scale(.2);opacity:.8}80%{-webkit-transform:scale(1.2);transform:scale(1.2);opacity:0}100%{-webkit-transform:scale(2.2);transform:scale(2.2);opacity:0}}