@font-face {
    font-family: "Raleway ExtraBold";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/raleway-extrabold.woff2") format("woff2"),
      url("../fonts/raleway-extrabold.woff") format("woff");
  }
  
  @font-face {
    font-family: "Raleway Medium";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/raleway-medium.woff2") format("woff2"),
      url("../fonts/raleway-medium.woff") format("woff");
  }
  
  @font-face {
    font-family: "Myriad Pro";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/myriadpro.woff2") format("woff2"),
      url("../fonts/myriadpro.woff") format("woff");
  }